html {
    font-family: sans-serif;
}
header{
    margin: 0 0 0 0;
    width: 100%;
    color: #dfffff;
    background-color: #000040;
    padding: 18px;
}
header a {
    color: #80ffff;
}

.main {
    max-width: 70ch;
    padding: 1em 1em 1em 3em;
    margin: auto;
    line-height: 1.75;
    font-size: 1.25em
}


button {
    color: #101010;
    border: 1px solid #cfcfcf;
    border-radius: 18px;
    background: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
}



button:hover {
    background: #cfcfcf;
}

input[type='text'] {
    color: #101010;
    border: 1px solid #cfcfcf;
    border-radius: 10px;
    background: white;
    padding: 5px 10px;
    /* display: block; */
    width: 10em;
}

textarea {
    resize: none;
    color: #101010;
    border: 1px solid #cfcfcf;
    border-radius: 18px;
    background: white;
    padding: 10px 20px;
    display: block;
    width: 80%;
}

::placeholder {
    font-size: larger;
}

header h1, h6{
    display: inline;
}

.alert {
    color: #ff4040;
}

.customizedRandom {
    display: -webkit-flex;
    display: flex;
    border-radius: 3px;
    border-color: red;
}

/*
.input{
    margin-top: 20px;
    margin-bottom: 20px;
}
.option{
    margin-top: 20px;
    margin-bottom: 20px;
}
.output{
    margin-top: 20px;
    margin-bottom: 20px;
}
*/
